# deprecation-detector
/.rules

# Composer
/vendor/

# PHPUnit
/app/phpunit.xml
/phpunit.xml

# Binaries
/box.phar
/composer.phar
/wordpress.phar
/wordpress.phar.version

# Global
.idea
.vagrant
.DS_Store
Vagrantfile
/.php_cs.cache
