services:
  console.command_generator:
    class: WP\Console\Generator\CommandGenerator
    arguments: ['@console.extension_manager', '@console.translator_manager']
    tags:
      - { name: wordpress.generator }
  console.plugin_generator:
    class: WP\Console\Generator\PluginGenerator
    tags:
      - { name: wordpress.generator }
  console.meta_box_generator:
    class: WP\Console\Generator\MetaBoxGenerator
    arguments: ['@console.extension_manager']
    tags:
      - { name: wordpress.generator }
  console.taxonomy_generator:
    class: WP\Console\Generator\TaxonomyGenerator
    arguments: ['@console.extension_manager']
    tags:
      - { name: wordpress.generator }
  console.theme_generator:
    class: WP\Console\Generator\ThemeGenerator
    arguments: ['@console.extension_manager']
    tags:
      - { name: wordpress.generator }
  console.shortcode_generator:
      class: WP\Console\Generator\ShortcodeGenerator
      tags:
        - { name: wordpress.generator }